* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Rubik", sans-serif;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

button {
   border: none;
   background-color: transparent;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.title-h2 {
   font-weight: 500;
   font-size: 32px;
   line-height: 1.3;
   color: #363940;
}

.text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.3;
   color: #95a1bb;
}

.btn {
   font-weight: 500;
   font-size: 14px;
   text-transform: uppercase;
   text-align: center;
   color: #fff;  
   background-color: #0A61F7;
   transition: all .3s ease-in-out;
}

.btn:hover {
   background-color: #99beff;
}

.header {
   background-color: #0A61F7;
}

.header__nav {
   display: flex;
   justify-content: space-between;
}

.header__link-logo {
   padding: 14px 0;
}

.header__list {
   display: flex;
   align-items: center;
   gap: 24px;
}

.header__link {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.6;
   letter-spacing: 0.12em;
   color: #fff;
   text-transform: uppercase;
   transition: all .3s ease-in-out;
}

.header__link:hover {
   color: #99beff;
}


.head {
   padding-top: 150px;
   background-color: #fff;
}

.head__box {
   display: flex;
   align-items: center;
}

.head__info {
   margin-right: 25px;
}

.head__title {
   font-weight: 500;
   font-size: 58px;
   line-height: 1.2;
   margin-bottom: 30px;
   color: #363940;
}

.head__text {
   margin-bottom: 40px;
}

.head__btn {
   padding: 15px 24px;
   border-radius: 4px;
   line-height: 1.4;
   letter-spacing: 0.1em;
}

.rates {
   padding: 100px 0;
   background-color: #f9fafc;
   text-align: center;
}

.rates__title {
   margin-bottom: 20px;
}

.rates__text {
   margin-bottom: 40px;
}

.rates__table {
   width: 940px;
   margin: 0 auto;
}

.rates__td,
.rates__tr-th,
.rates__table,
.rates__th {
   border: 1px solid #95a1bb;
   border-collapse: collapse;
}

.rates__tr-th {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.5;
   color: #363940;
   text-align: left;
   padding: 15px 0 15px 20px;
}

.rates__th,
.rates__tr-th {
   width: 241px;
}

.rates__th {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.2;
   color: #363940;
}

.tr-btn {
   height: 96px;
}

.th {
   color: #95a1bb;
}

.rates__link {
   color: #0a61f7;
}

.rates__btn {
   padding: 8px 40px;
   border: 1px solid #0a61f7;
   border-radius: 4px;
   font-size: 12px;
   line-height: 1.6;
   letter-spacing: 0.12em;
}

.rates__btn:hover {
   border: 1px solid #99beff;
}

.btn-color {
   background-color: #f9fafc;
   color: #0A61F7;
}

.registr {
   padding: 100px 0;
}

.registr__box {
   display: flex;
}

.registr__info {
   max-width: 500px;
   margin-right: 160px;
}

.registr__title {
   margin-bottom: 50px;
}

.registr__text {
   margin-bottom: 40px;
}

.registr__list {
   display: flex;
   flex-direction: column;
   gap: 15px;
   list-style-image: url(assets/images/Mask.svg);
   padding-left: 20px;
}

.registr__item {
   padding-left: 10px;
   color: #363940;
}

.registr__form {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.registr__form,
.registr__input::placeholder,
.registr__textarea::placeholder,
.registr__select  {
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.4;
   color: #95a1bb;
}

.registr__input,
.registr__select,
.registr__textarea,
.registr__field {
   padding: 14px 15px;
   border: 1px solid #95a1bb;
   border-radius: 4px;
   transition: all .3s ease-in-out;
}

.registr__input:hover,
.registr__select:hover,
.registr__textarea:hover,
.registr__field:hover {
   border: 1px solid #0A61F7;
}

.registr__radio-box {
   display: flex;
   gap: 30px;
}

.registr__label {
   display: flex;
   align-items: center;
}


.registr__input,
.registr__select {
   width: 230px;
   height: 50px;
}

.registr__input[type="text"],
.registr__textarea {
   width: 100%;
}

.registr__select {
   appearance: none;
   background: url(assets/images/Arrow-down.svg) no-repeat right 15px top 50%;
}

.registr__select:focus {
   outline: none;
}

.registr__input[type="date"] {
   background: url(assets/images/Calendar.svg) no-repeat right 15px top 50%;
}


.registr__input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 0;
}

.registr__radio,
.registr__check {
   appearance: none;
   border: 1px solid #95a1bb;
   margin-right: 8px;
   transition: all .3s ease-in-out;
}

.registr__radio {
   width: 16px;
   height: 16px;
   border-radius: 50%; 
}

.registr__radio:checked {
   background: url(assets/images/Ellipse.svg) no-repeat center;
   border: 1px solid #0A61F7;
}

.registr__radio:hover,
.registr__check:hover {
   border: 1px solid #0A61F7;
}

.registr__label {
   transition: all .3s ease-in-out;
}

.registr__label:hover {
   color: #0A61F7;
}

.registr__check {
   width: 15px;
   height: 15px;
   border-radius: 2px;
}

.registr__check:checked {
   background: url(assets/images/Mask-2.svg) no-repeat center;
   background-color: #0A61F7;
   border: 1px solid #0A61F7;
}

.registr__leg {
   padding: 0 6px;
}

.registr__field {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 30px 15px;
}

.registr__textarea {
   resize: none;
   height: 80px;
   overflow: auto;
   outline: none;
}

.registr__btn {
   width: 100%;
   height: 51px;
   border-radius: 4px;
}

.footer {
   background-color: #0A61F7;
   padding: 20px 0;
   text-align: center;
}

.footer__text {
   font-size: 14px;
   color: #fff;
   line-height: 1.57143;
}
